In [3]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [4]:
streaming_platforms_file = "Resources/streaming_platforms.csv"
streaming_platforms_df = pd.read_csv(streaming_platforms_file)
streaming_platforms_df.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
popular_movies_file = "Resources/popular_movies.csv"
popular_movies_df = pd.read_csv(popular_movies_file)
popular_movies_df.head()

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
0,0,1,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1
1,1,2,Gemini Man,2019,13+,5.7,74,Action & Adventure,0,1
2,2,3,Rambo: Last Blood,2019,18+,6.1,72,Action & Adventure,0,1
3,3,4,The Courier,2019,18+,4.9,50,Action & Adventure,0,1
4,4,5,Crawl,2019,18+,6.1,79,Action & Adventure,0,1

In [6]:
prime_tv_shows_file = "Resources/popular_movies.csv"
prime_tv_shows_df = pd.read_csv(prime_tv_shows_file)
prime_tv_shows_df.head()

,Unnamed: 0,ID,Title,Year,Rating,IMDb,Rotten Tomatoes,Genre,Netflix,Amazon Prime Video
0,0,1,Terminator: Dark Fate,2019,18+,6.2,81,Action & Adventure,0,1
1,1,2,Gemini Man,2019,13+,5.7,74,Action & Adventure,0,1
2,2,3,Rambo: Last Blood,2019,18+,6.1,72,Action & Adventure,0,1
3,3,4,The Courier,2019,18+,4.9,50,Action & Adventure,0,1
4,4,5,Crawl,2019,18+,6.1,79,Action & Adventure,0,1

### Transform streaming platforms DataFrame

In [4]:
# Create a filtered dataframe from specific columns
premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
premise_transformed.drop_duplicates("id", inplace=True)
premise_transformed.set_index("id", inplace=True)

premise_transformed.head()

                         premise_name  county_id
id
1311660  CANA ARRIBA GROCERY NO 2 INC          0
1310023    JOHANA GROCERY & DELI CORP          0
1310024             TKO BEVERAGES LLC          1
1311663  181 LEXINGTON AVENUE BBQ LLC          2
1310029        AZIZ DELI & GRILL CORP          1

### Transform popular movies DataFrame

In [ ]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

### Transform prime TV shows DataFrame

In [ ]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

### Create database connection

In [8]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [9]:
# Confirm tables
engine.table_names()

[]

### Load DataFrames into database

In [10]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [11]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)