In [5]:
#Dependencies
import requests
from sqlalchemy import create_engine
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import api_key

### Extract CSVs into DataFrames

In [6]:
cleaned_dataset_file = "Resources/cleaned_dataset.csv"
cleaned_dataset_df = pd.read_csv(cleaned_dataset_file)
cleaned_dataset_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3296,16657,16658,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,0,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0
3297,16671,16672,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,0,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0
3298,16677,16678,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,0,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0
3299,16687,16688,Kazaam,1996,7+,3.0,6%,0,0,0,1,0,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0
3300,16705,16706,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,0,Steve Boyum,"Comedy,Family",United States,English,93.0

In [10]:
cleaned_dataset_df.dropna()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3296,16657,16658,A Kid in King Arthur's Court,1995,7+,4.7,5%,0,0,0,1,0,Michael Gottlieb,"Adventure,Comedy,Family,Fantasy,Romance","United States,Hungary,United Kingdom",English,89.0
3297,16671,16672,George of the Jungle 2,2003,7+,3.3,17%,0,0,0,1,0,David Grossman,"Adventure,Comedy,Family","United States,Australia",English,87.0
3298,16677,16678,That Darn Cat,1997,7+,4.7,13%,0,0,0,1,0,Robert Stevenson,"Comedy,Crime,Family,Thriller",United States,"English,French",116.0
3299,16687,16688,Kazaam,1996,7+,3.0,6%,0,0,0,1,0,Paul Michael Glaser,"Comedy,Family,Fantasy,Musical",United States,English,93.0
3300,16705,16706,Meet the Deedles,1998,7+,4.1,7%,0,0,0,1,0,Steve Boyum,"Comedy,Family",United States,English,93.0

In [8]:
cleaned_dataset_API_file = "Resources/cleaned_dataset_API.csv"
cleaned_dataset_API_df = pd.read_csv(cleaned_dataset_API_file)
cleaned_dataset_API_df

,Title,Year,Rated,Genre,Actors,Plot,Language,Country,imdbID,BoxOffice,Production
0,Inception,2010,PG-13,"Action, Adventure, Sci-Fi, Thriller","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,"English, Japanese, French","USA, UK",tt1375666,"$292,576,195","Syncopy, Warner Bros."
1,The Matrix,1999,R,"Action, Sci-Fi","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",When a beautiful stranger leads computer hacke...,English,USA,tt0133093,"$171,479,930","Village Roadshow Prod., Silver Pictures"
2,Avengers: Infinity War,2018,PG-13,"Action, Adventure, Sci-Fi","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",The Avengers and their allies must be willing ...,English,USA,tt4154756,"$678,815,482",Marvel Studios
3,Back to the Future,1985,PG,"Adventure, Comedy, Sci-Fi","Michael J. Fox, Christopher Lloyd, Lea Thompso...","Marty McFly, a 17-year-old high school student...",English,USA,tt0088763,"$211,406,762","Universal Pictures, Amblin Entertainment"
4,"The Good, the Bad and the Ugly",1966,R,Western,"Eli Wallach, Clint Eastwood, Lee Van Cleef, Al...",A bounty hunting scam joins two men in an unea...,Italian,"Italy, Spain, West Germany, USA",tt0060196,"$25,100,000","Produzioni Europee Associati, Constantin Film"
...,...,...,...,...,...,...,...,...,...,...,...
3296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cleaned_dataset_API_df.dropna()

,Title,Year,Rated,Genre,Actors,Plot,Language,Country,imdbID,BoxOffice,Production
0,Inception,2010,PG-13,"Action, Adventure, Sci-Fi, Thriller","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",A thief who steals corporate secrets through t...,"English, Japanese, French","USA, UK",tt1375666,"$292,576,195","Syncopy, Warner Bros."
1,The Matrix,1999,R,"Action, Sci-Fi","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",When a beautiful stranger leads computer hacke...,English,USA,tt0133093,"$171,479,930","Village Roadshow Prod., Silver Pictures"
2,Avengers: Infinity War,2018,PG-13,"Action, Adventure, Sci-Fi","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",The Avengers and their allies must be willing ...,English,USA,tt4154756,"$678,815,482",Marvel Studios
3,Back to the Future,1985,PG,"Adventure, Comedy, Sci-Fi","Michael J. Fox, Christopher Lloyd, Lea Thompso...","Marty McFly, a 17-year-old high school student...",English,USA,tt0088763,"$211,406,762","Universal Pictures, Amblin Entertainment"
4,"The Good, the Bad and the Ugly",1966,R,Western,"Eli Wallach, Clint Eastwood, Lee Van Cleef, Al...",A bounty hunting scam joins two men in an unea...,Italian,"Italy, Spain, West Germany, USA",tt0060196,"$25,100,000","Produzioni Europee Associati, Constantin Film"
...,...,...,...,...,...,...,...,...,...,...,...
981,A Glimpse Inside the Mind of Charles Swan III,2012,R,Comedy,"Charlie Sheen, James Paradise, Anne Bellamy, J...",A graphic designer's enviable life slides into...,"English, Russian, Spanish",USA,tt2044729,"$45,350",American Zoetrope
983,Dance Flick,2009,PG-13,"Action, Comedy, Music","Shoshana Bush, Damon Wayans Jr., Essence Atkin...",Street dancer Thomas Uncles is from the wrong ...,English,USA,tt1153706,"$25,662,155",Wayan Bros. Entertainment
985,Jacob's Ladder,1990,R,"Drama, Horror, Mystery","Tim Robbins, Elizabeth PeÃ±a, Danny Aiello, Mat...","Mourning his dead child, a haunted Vietnam War...",English,USA,tt0099871,"$26,118,851",Carolco Pictures Inc.
987,I'm in Love with a Church Girl,2013,PG,"Crime, Drama, Romance","Martin Kove, Michael Madsen, Zahn McClarnon, S...","Miles Montego (Ja Rule) has it all - cars, boa...",English,USA,tt1618432,"$2,387,730",Reverence Gospel Media
988,Poster Boys,2017,PG-13,Comedy,"Sunny Deol, Bobby Deol, Shreyas Talpade, Randh...",Life of three men comes in trouble when their ...,Hindi,India,tt6352548,"$97,049","Affluence Movies, Sunny Sounds, Sony Pictures ..."

### Transform streaming platforms DataFrame

In [ ]:
# Create a filtered dataframe from specific columns
premise_cols = ["License Serial Number", "Premises Name", "County ID Code"]
premise_transformed= premise_df[premise_cols].copy()

# Rename the column headers
premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
                                                          "Premises Name": "premise_name",
                                                          "County ID Code": "county_id"})

# Clean the data by dropping duplicates and setting the index
premise_transformed.drop_duplicates("id", inplace=True)
premise_transformed.set_index("id", inplace=True)

premise_transformed.head()

### Transform popular movies DataFrame

In [ ]:
county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
county_transformed = county_df[county_cols].copy()

# Rename the column headers
county_transformed = county_transformed.rename(columns={"ID": "id",
                                                         "County Name (Licensee)": "county_name",
                                                         "License Count": "license_count",
                                                         "County ID Code": "county_id"})

# Set index
county_transformed.set_index("id", inplace=True)

county_transformed.head()

### Create database connection

In [ ]:
connection_string = "postgres:postgres@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
engine.table_names()

### Load DataFrames into database

In [ ]:
premise_transformed.to_sql(name='premise', con=engine, if_exists='append', index=True)

In [ ]:
county_transformed.to_sql(name='county', con=engine, if_exists='append', index=True)